/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}





/* GENERAL */
.container {
    max-width: 1200px;
    margin: 0, auto;
}
.white-accedi {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 9px;
}
.black-accedi {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 9px;
    margin-left: 15px;
}
.violet-accedi {
    background-color: rgb(129, 74, 238);
    color: white;
    border-radius: 20px;
    padding: 9px;
 
}
.text-align {
    text-align: center;
}
h1{
    font-size: 2.5em;
    padding: 25px 20px;
}
h2{
    font-size: 2.3em;
    padding: 25px 20px;
}
p {
    line-height: 25px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
h3 {
    background-image: url(../img3/stars.svg);
    font-size: 1.5em;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 45px;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}





/* HEADER */
.top-container {
    background-color: #355CE0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-col { 
    width: 50%;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}
.logo {
    height: 40px;
}
.link {
    text-align: center;
    padding: 10px
}
.login {
    text-align: end;
    padding: 10px
}
.bottom-container {
    background-color: rgb(0, 117, 234);
    background-image: url(../img3/jumbo.png);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;

}
.intro-container {
    color: white;
    height: 250px;
    width: 50%;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}






/* MAIN */
.section {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grey  {
    background-color: rgb(226, 226, 226);
}
.blue {
    width: 60%;
    height: 80%;
}
.pink {
    width: 30%;
    height: 80%;
}
.last-section {
    background-color:  rgb(226, 226, 226);
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outro {
    padding: 30px;
    width: 90% ;
    height: 800px;
    text-align: center;
    background-repeat: no-repeat;
}
img {
    max-width: 100%;
}








/* FOOTER */
.black {
    background-color: rgb(31, 35, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    width: 100%;
    height: 400px;
}
.bottom {
    width: 100%;
    height: 70px;
    align-items: flex-end;
}
.footer-titles {
    color: #b390ff;
}
.p-footer {
    color: white;
}
.info-box {
    width: 30%;
    height: 80%;
}
.azzurro {
    width: 60%;
    height: 80%;
    background-color: rgb(16, 205, 226);
    border: 2px dotted black;
    display: flex;
}
.sottobox {
    width: 30%;
    height: 100%;
    border: 2px dotted white;
}
.acqua-box {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    padding: 3px;
}
.flag {
    height: 15px;
}