/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}





/* GENERAL */
.container {
    max-width: 1500px;
    margin: 0, auto;
}
.white-accedi {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 9px;
}
.black-accedi {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 9px;
    margin-left: 15px;
}
.violet-accedi {
    background-color: rgb(129, 74, 238);
    color: white;
    border-radius: 20px;
    padding: 9px;
 
}
.text-align {
    text-align: center;
}
h1{
    font-size: 32px;
}

p {
    line-height: 25px;
    background-repeat: no-repeat;
}
h3 {
    background-image: url(../img3/stars.svg);

}





/* HEADER */
.top-container {
    background-color: rgb(0, 117, 234);
    display: flex;
    padding: 10px 0;
    justify-content: center;
    vertical-align: middle;

}
.my-col { 
    padding: 10px 0;
    width: 30%;
}
li {
    display: flex;
    justify-content: space-between;
}
a {
    color: white;
    text-decoration: none;
}
.logo {
    padding: 10px
}
.link {
    text-align: center;
    padding: 10px
}
.login {
    text-align: end;
    padding: 10px
}
.bottom-container {
    background-color: rgb(0, 117, 234);
    background-image: url(../img3/jumbo.png);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;

}
.fuchsia-container {
    color: white;
    height: 250px;
    width: 50%;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid black;
}







/* MAIN */
.section {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grey  {
    background-color: rgb(228, 227, 227);
}
.blue {
    width: 60%;
    height: 80%;
}
.pink {
    width: 30%;
    height: 80%;
}
.last-section {
    background-color: lightgray;
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green {
    padding: 30px;
    width: 90% ;
    height: 800px;
}








/* FOOTER */
.black {
    background-color: rgb(31, 35, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.top {
    width: 100%;
    height: 400px;
}
.bottom {
    width: 100%;
    height: 70px;
    align-items: flex-end;
}
.rose-box {
    width: 30%;
    height: 80%;
    background-color: rgb(255, 109, 109);
    border: 2px dotted black;
}
.azzurro {
    width: 60%;
    height: 80%;
    background-color: rgb(16, 205, 226);
    border: 2px dotted black;
    display: flex;
}
.sottobox {
    width: 30%;
    height: 100%;
    border: 2px dotted white;
}
.acqua-box {
    background-color: aquamarine;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.button {
    background-color: pink;
    border: 2px dotted black;
    padding: 3px;
}
